<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/stylesheets/tablas_inventario.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script><link rel="stylesheet" href="/resources/stylesheets/configproductos.css">
</head>
<body style="background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);">
    
    <nav class="navbar navbar-dark bg-dark">
        <a href="/infoclientes" class="navbar-brand mx-auto">Clientes</a>
    </nav>

    

    <div class="container">

        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 mt-4 text-center table-responsive tablita " style="width:100%">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Pass</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Rol</th>
                        
                    </tr>
                    <%for (let i=0;i<clientes.length;i++){ %>
                        <tr>
                            <td><%= clientes[i].id_element %></td>
                            <td><%= clientes[i].username %></td>
                            <td><%= clientes[i].pass %></td>
                            <td><%= clientes[i].nombre %></td>
                            <td><%= clientes[i].apellido %></td>
                            <td><%= clientes[i].telefono %></td>
                            <td><%= clientes[i].email %></td>
                            <td><%= clientes[i].rol %></td>
                        </tr>
                        <% } %>
            </table>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-md-5 mt-4 card " >
    
  
        <% if (login){%>
            <% if(rol==="administrador"){%>
                <a href="/config" class="btn btn-secondary">Volver al Menú</a>
              <% } %>
        
                  <% if(rol==="vendedor"){%>
                    <a href="/configvendedor" class="btn btn-secondary">Volver al Menú</a>
                  <% } %>
        <% } else { %>
        
        <% } %>    
        
    
  </div>
  </div>

