!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso</title>
    <link rel="stylesheet" href="/resources/stylesheets/inventario.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">Inventario</a> 
    </nav>
<div class="padre">
    
    <div class="row">
        <div class="col-md-6 mt-4 text-center">
            <table class="table table-striped table-sm " style="margin-left: 20px;">
                <tr class="table-primary">
                    <th>ID</th>
                    <th>Item</th>
                    <th>Cantidad</th>
                    <th>Valor unidad</th>
                    <th>Descripcion</th>
                    <th>Borrar</th>
                    <th>Editar</th>
                </tr>
                <% for (let i = 0; i < inventario.length; i++) { %>
                    <tr>
                        <th><%= inventario[i].codigo_producto %></th>
                        <th><%= inventario[i].nombre_producto %></th>
                        <th><%= inventario[i].cantidad %></th>
                        <th><%= inventario[i].valor_unidad %></th>
                        <th><%= inventario[i].descripcion %></th>
                        <th><a class="btn btn-danger" href="/delete/<%= inventario[i].codigo_producto %>">Borrar Entrada</a></th>
                        <th><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productos<%= inventario[i].codigo_producto %>" data-bs-whatever="@fat">Editar Entrada</button></th>
                    </tr>

                    <div class="modal fade" id="productos<%= inventario[i].codigo_producto %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Editar Datos</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form method="post" action="/edit/<%=inventario[i].codigo_producto%>">
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Item</label>
                                  <input type="text" class="form-control" id="recipient-name" name="nombre_producto" value="<%= inventario[i].nombre_producto %>">
                                </div>
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label">Cantidad</label>
                                  <input class="form-control" id="message-text" type="text" name="cantidad" value="<%= inventario[i].cantidad %>" >
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Valor unidad</label>
                                    <input class="form-control" id="message-text" type="text" name="valor_unidad" value="<%= inventario[i].valor_unidad %>" >
                                  </div>
                                  <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Descripcion</label>
                                    <input class="form-control" id="message-text" type="text" name="descripcion" value="<%= inventario[i].descripcion %>" >
                                  </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary">
                                  </div>
                              </form> 
                            </div> 
                          </div>
                        </div>
                    </div>
                <% } %>
            </table>
            <div class="col-md-5 mt-4 card" style="width:130%; margin-left:20px">
              <form action="inventario" method="POST" class="card-body">
                  <h3 class="card-title">Agregar productos</h3>
                  <div class="form-group">
                      <input type="text" autocomplete="off" name="nombre" class="form-control" placeholder="Ingrese el nombre">
                  </div>
                  <div class="form-group">
                      <input type="text" autocomplete="off" name="cantidad" class="form-control" placeholder="Ingrese la cantidad">
                  </div>
                  <div class="form-group">
                      <input type="text" autocomplete="off" name="precio" class="form-control" placeholder="Ingrese el precio">
                  </div>
                  <div class="form-group">
                      <input type="text" autocomplete="off" name="descripcion" class="form-control" placeholder="Ingrese la descricion del producto">
                  </div>
                  <input type="submit" class="btn btn-primary">
            
                  <% if (login){%>
                      <% if(rol==="administrador"){%>
                          <a href="/inventario" class="btn btn-primary">Volver al Menú</a>
                        <% } %>
                  
                            <% if(rol==="vendedor"){%>
                              <a href="/inventario" class="btn btn-primary">Volver al Menú</a>
                            <% } %>
                  <% } else { %>
                  
                  <% } %>    
                  
              </form>
            </div>
        </div>
    </div>
    
  
</div>




    




   
</body>
</html>